@(user: User, userStats: UserStats , eventList: List[Event])
@mainStudent(user) {
<div id="wrapper">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@user.fullname 's Profile</h3>
            </div>
            <div class="panel-body">
                <ol class="nav">
                    <li>Student ID: @user.id</li>
                    <br>
                    <li>Events Participated In: @userStats.noOfEventsParticipatedIn </li>
                    <br>
                    <li>Hash Tag Contribution: @userStats.noOfIndividualHashTagMessages </li>
                    <br>
                    <li>Peers who you have helped: @userStats.upVotes</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9">
    <table class="table table-striped">
        <tr>
            <th>Event Name</th>
            <th>Script</th>
            <th>Participants</th>
            <th>JoinIn</th>
        </tr>
        @for(event <- eventList){
        <tr>
            <td>@event.eventName</td>
            <td><div class="well">@event.description</div></td>
            <td>@event.participants.size</td>
            <td>
                <form  method="POST" name="joinEvent" action="@routes.EventController.eventStage1(event.eventId)">
                    <input time="@event.getEventEpoch()" type="submit" name="Join" value= "Join" class="btn btn-success">
                </form>
        </tr>
        }
    </table>
</div>
        <script>
            $('input[name=Join]').click(function(e){

                var button = $(this);
                var milliseconds = button.attr('time');
                console.log('milliseconds'  + milliseconds);

                var currTime = (new Date).getTime();
                console.log('currTime'  + currTime);
                var diff = milliseconds - currTime;
                console.log('diff'  + diff);
                if(diff > 300000){
                    e.preventDefault();
                    alert('You are only allowed to join the event 5 minutes before it begins');
                }
                else{
                    if(button.attr('proceed')=='true'){
                        return true;
                    }
                    else{
                        $('input[name=Join]').attr('disabled', 'disabled');
                        setTimeout(function() {
                            button.removeAttr('disabled');
                            button.attr('proceed', 'true');
                            button.click();
                        },diff);
                        console.log('diff is ' + diff);
                        alert('The event will begin shortly');
                    }


                }
                return false;


            });
        </script>
<!--/span-->
}