@(user: User, event: Event)

@main(user) {
<div id="wrapper">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@user.fullname 's Profile</h3>
            </div>
            <div class="panel-body">
                <div class="panel-body">
                    <div class="text-left">
                        <a href="@routes.Dashboard.manageEvents()">Manage Events <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-left">
                        <a href="#">Group Statistics <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-left">
                        <a href="#">Individual Statistics <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-left">
                    <a href="">Live Feed <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-left">
                    <a href="">Past Events <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#createEvent" role="tab" data-toggle="tab">Create</a></li>
            <li role="presentation"><a href="#deleteEvent" role="delete" data-toggle="tab">Delete</a></li>
            <li role="presentation"><a href="#updateEvent" role="delete" data-toggle="tab">Update</a></li>
        </ul>

        <div class="tab-content">
            <br>
            <div role="tabpanel" class="tab-pane active" id="createEvent">
                <form method="POST" class="form-horizontal" role="form" action="@routes.Dashboard.createEvent()">
                    <div class="form-group">
                        <label for="eventID" class="col-sm-2 control-label">Event ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="eventID" placeholder="Event ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventName" class="col-sm-2 control-label">Event Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="eventName" placeholder="Event Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Script1" class="col-sm-2 control-label">Phase 1 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="Script1" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Script2" class="col-sm-2 control-label">Phase 2 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="Script2" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Script3" class="col-sm-2 control-label">Phase 3 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="Script3" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventDescription" class="col-sm-2 control-label">Event Description</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="eventDescription" rows="2" placeholder="Event Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Question" class="col-sm-2 control-label">Questions</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="Question" rows="2" placeholder="Question"></textarea>
                        </div>
                    </div>
                    <div class="form-group dropdown">
                        <label for="dropdownMenu1" class="col-sm-2 control-label">Participants</label>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Participants<nbsp>   </nbsp>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User2</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="createdatepicker" class="col-sm-2 control-label">Date</label>
                        <div class='col-sm-5'>
                            <input type="text" class="form-control" id="createdatepicker" size="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startTimeCreateForm" class="col-sm-2 control-label">Start Time</label>
                        <div class='col-sm-5'>
                            <input type="text" class="time start form-control" id="startTimeCreateForm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endTimeCreateForm" class="col-sm-2 control-label">End Time</label>
                        <div class='col-sm-5'>
                            <input type="text" class="time start form-control" id="endTimeCreateForm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="deleteEvent">
                <br>
                <form method="POST" class="form-horizontal" role="form" action="@routes.Dashboard.deleteEvent()">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Event ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" name="dummyText" id="inputEmail3" placeholder="Event ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Delete</button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="updateEvent">
                <br>
                <form method="POST" class="form-horizontal" role="form" action="@routes.Dashboard.updateEvent()">
                    <div class="form-group">
                        <label for="updateEventID" class="col-sm-2 control-label">Event ID</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateEventID" placeholder="Event ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateEventName" class="col-sm-2 control-label">Event Name</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="updateEventName" placeholder="Event Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateScript1" class="col-sm-2 control-label">Phase 1 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="updateScript1" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateScript2" class="col-sm-2 control-label">Phase 2 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="updateScript2" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateScript3" class="col-sm-2 control-label">Phase 3 Script</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="updateScript3" rows="2" placeholder="Script Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateEventDescription" class="col-sm-2 control-label">Event Description</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="updateEventDescription" rows="2" placeholder="Event Description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="updateQuestions" class="col-sm-2 control-label">Questions</label>
                        <div class="col-sm-7">
                            <textarea type="text" class="form-control" id="updateQuestions" rows="2" placeholder="Questions"></textarea>
                        </div>
                    </div>
                    <div class="form-group dropdown">
                        <label for="updatedropdownMenu1" class="col-sm-2 control-label">Participants</label>
                        <button class="btn btn-default dropdown-toggle" type="button" id="updatedropdownMenu1" data-toggle="dropdown">
                            Participants<nbsp>   </nbsp>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="updatedropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User1</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">User2</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="datepicker" class="col-sm-2 control-label">Date</label>
                        <div class='col-sm-5'>
                            <input type="text" class="form-control" id="datepicker" size="30">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="startTimeUpdateForm" class="col-sm-2 control-label">Start Time</label>
                        <div class='col-sm-5'>
                            <input type="text" class="time start form-control" id="startTimeUpdateForm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endTimeUpdateForm" class="col-sm-2 control-label">End Time</label>
                        <div class='col-sm-5'>
                            <input type="text" class="time start form-control" id="endTimeUpdateForm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/span-->
}