@(user: User, event: Event, createEveForm: Form[Dashboard.CreateEventForm],participants: List[User],events: List[Event])
@import helper._
@import play.api.mvc._
@mainInstructor(user) {
<div id="wrapper">
        <div class="col-md-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#createEvent" role="tab" data-toggle="tab">Create</a></li>
            <li role="presentation"><a href="#deleteEvent" role="delete" data-toggle="tab">Delete</a></li>
            <!--<li role="presentation"><a href="#updateEvent" role="delete" data-toggle="tab">Update</a></li>-->
            <li role="presentation"><a href="#viewEvent" role="delete" data-toggle="tab" onclick="loadData()">Publish Event</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="createEvent">
                <br>
                @form(routes.Dashboard.createEvent()){
                  <div id="dummy"></div>
                  <fieldset class="fieldSetLegend">
                      <legend class="fieldSetLegend"><h5><b>Event and Scripts</b></h5></legend>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="eventName">Event Name</label>
                                    <input name="eventName" type="text" class="form-control" id="eventName">
                                </div>
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="eventDescription">Event Description</label>
                                    <textarea name="eventDescription" type="text" class="form-control" id="eventDescription"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-4 col-xs-12">
                                    <label for="hashTags">HashTags</label>
                                    <input name="hashes" type="text" class="form-control" id="hashTags">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="Script1">Phase 1 Script</label>
                                    <textarea name="script1" type="text" class="form-control" id="Script1" rows="2"></textarea>
                                </div>
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="Script2">Phase 2 Script</label>
                                    <textarea name="script2" type="text" class="form-control" id="Script2" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="Script3">Phase 3 Script</label>
                                    <textarea name="script3" type="text" class="form-control" id="Script3" rows="2"></textarea>
                                </div>
                                <div class="form-group col-md-6 col-sm-4 col-xs-12">
                                    <label for="Script4">Phase 4 Script</label>
                                    <textarea name="script4" type="text" class="form-control" id="Script4" rows="2"></textarea>
                                </div>
                            </div>
                  </fieldset>
                  <fieldset class="fieldSetLegend">
                      <legend class="fieldSetLegend"><h5><b>Question and Answers</b></h5></legend>
                            <div class="row">
                                <div class="form-group col-md-7 col-sm-4 col-xs-12">
                                    <label for="Question">Question</label>
                                    <textarea name="question" type="text" class="form-control" id="Question" rows="2"></textarea>
                                </div>
                                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                    <label for="Answer">Answer</label>
                                    <select class="form-control" name="answer" id="Answer">
                                        <option value="Option1">Option 1</option>
                                        <option value="Option2">Option 2</option>
                                        <option value="Option3">Option 3</option>
                                        <option value="Option4">Option 4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                    <label for="Option1">Option 1</label>
                                    <textarea name="option1" type="text" class="form-control" id="Option1" rows="2"></textarea>
                                </div>
                                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                    <label for="Option2">Option 2</label>
                                    <textarea name="option2" type="text" class="form-control" id="Option2" rows="2" ></textarea>
                                </div>
                                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                    <label for="Option3">Option 3</label>
                                    <textarea name="option3" type="text" class="form-control" id="Option3" rows="2" ></textarea>
                                </div>
                                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                    <label for="Option4">Option 4</label>
                                    <textarea name="option4" type="text" class="form-control" id="Option4" rows="2" ></textarea>
                                </div>
                            </div>
                  </fieldset>
                  <fieldset class="fieldSetLegend">
                            <legend class="fieldSetLegend"><h5><b>FollowUp Question and Answer</b></h5></legend>
                                <div class="row">
                                    <div class="form-group col-md-7 col-sm-4 col-xs-12">
                                        <label for="FollowUpQuestion">FollowUp Question</label>
                                        <textarea name="fquestion" type="text" class="form-control" id="FollowUpQuestion" rows="2" ></textarea>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                        <label for="FollowUpAnswer">Answer</label>
                                        <select class="form-control" name="fanswer" id="FollowUpAnswer">
                                            <option value="Option1">Option 1</option>
                                            <option value="Option2">Option 2</option>
                                            <option value="Option3">Option 3</option>
                                            <option value="Option4">Option 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                        <label for="FollowUpOption1">Option 1</label>
                                        <textarea name="foption1" type="text" class="form-control" id="FollowUpOption1" rows="2"></textarea>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                        <label for="FollowUpOption2">Option 2</label>
                                        <textarea name="foption2" type="text" class="form-control" id="FollowUpOption2" rows="2"></textarea>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                        <label for="FollowUpOption3">Option 3</label>
                                        <textarea name="foption3" type="text" class="form-control" id="FollowUpOption3" rows="2"></textarea>
                                    </div>
                                    <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                        <label for="FollowUpOption4">Option 4</label>
                                        <textarea name="foption4" type="text" class="form-control" id="FollowUpOption4" rows="2"></textarea>
                                    </div>
                                </div>
                  </fieldset>
                  <fieldset class="fieldSetLegend">
                        <legend class="fieldSetLegend"><h5><b>Event Participants and Schedule</b></h5></legend>
                        <div class="row">
                            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                <select name="participants" multiple="multiple" size="4">
                                @for((participantUser,index) <- participants.zipWithIndex){
                                @if( user.id != participantUser.id){
                                <option value="@participantUser.fullname">@participantUser.fullname</option>
                                }
                                }
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                <label for="createdatepicker" class="col-sm-2 control-label">Date</label>
                                <input name="date" type="text" class="form-control" id="createdatepicker" size="30">
                            </div>
                            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                <label for="startTimeCreateForm" class="col-sm-2 control-label">StartTime</label>
                                <input name="startTime" type="text" class="time start form-control" id="startTimeCreateForm"/>
                            </div>
                            <!--<div class="form-group col-md-3 col-sm-4 col-xs-12">
                                <label for="endTimeCreateForm" class="col-sm-2 control-label">EndTime</label>
                                <input name="endTime" type="text" class="time start form-control" id="endTimeCreateForm"/>
                            </div>-->
                            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                                <label for="phaseDuration">Phase Duration</label>
                                <select class="form-control" name="phaseDuration" id="phaseDuration">
                                    <option value="5">5 minutes</option>
                                    <option value="10">10 minutes</option>
                                    <option value="15">15 minutes</option>
                                </select>
                            </div>
                        </div>
                  </fieldset>
                  <div class="row">
                      <div class="form-group dropdown col-md-3 col-sm-6 col-xs-12">
                            <button type="submit" class="btn btn-success">Create Event</button>
                      </div>
                  </div>
                }
            </div>

            <div role="tabpanel" class="tab-pane" id="deleteEvent">
                <br>
                <fieldset class="fieldSetLegend">
                    <legend class="fieldSetLegend"><h5><b>Select Event</b></h5></legend>
                    <form method="POST" class="form-horizontal" role="form" action="@routes.Dashboard.deleteEvent()">
                    <div class="form-group">
                        <label for="individualEvent" class="col-sm-2 control-label">Event Name</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="events" id="individualEvent">
                                <option value="Select Event">Select Event</option>
                                @for((individualEvent,index) <- events.zipWithIndex){
                                <option value="@individualEvent.eventName">@individualEvent.eventName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Delete</button>
                            </div>
                    </div>
                    </form>
                </fieldset>


            </div>
            <!--<div role="tabpanel" class="tab-pane" id="updateEvent">
                <br>
                <form method="POST" class="form-horizontal" role="form" action="@routes.Dashboard.updateEvent()">
                    <fieldset class="fieldSetLegend">
                        <legend class="fieldSetLegend"><h5><b>Update Event</b></h5></legend>
                        <div class="row">
                        <div class="form-group dropdown col-md-3 col-sm-4 col-xs-12">
                            <br>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                Choose an Event
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Event 1</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Event 2</a></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div> -->
            <div role="tabpanel" class="tab-pane" id="viewEvent">
                <br>
                <table class="table table-striped" id="eventViewId">
                    <thead>
                    <tr>
                        <td>EventId</td>
                        <td>Created On</td>
                        <td>Publish</td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</div>

<script>
            function getSelectedOptions()
                {
                    var selectedValues = $('#participantSelect').val();
                    console.log("Inside javascript");
                    return selectedValues;
                }
            function activate(eventId){
                $.ajax({
                    url: "/dashboard/getEvents/activate",
                    type: 'GET',
                    data: { eventId: eventId } ,
                    success: function (response) {
                        $("#"+eventId).html(response);
                    },
                    error: function () {
                    //your error code
                    }
                });
            }
            function loadData(){
                var activateUrl = "/dashboard/getEvents/activate"
                var table = $("#eventViewId tbody");
                $.ajax({url:"/dashboard/getEvents",success:function(result){
                        console.log(result);
                        var data = jQuery.parseJSON(result);
                        $.each(data, function(idx, elem){
                        table.append("<tr><td>"+elem.eventId+"</td><td>"+elem.eventName+"</td><td id="+elem.eventId+"><a href='javascript:;' onclick='activate(\""+elem.eventId+"\")'>"+'Publish'+"</a></td></tr>");
                        });
                }});
            }
        </script>
}