@(user: User, eventList: List[Event])
@mainInstructor(user){

<div id="wrapper">
<div class="col-md-9">
    <table class="table table-striped">
        <tr>
            <th>Event Name</th>
            <th>Participants</th>
            <th>JoinIn</th>
        </tr>
        @for(event <- eventList){
        <tr>
            <td>@event.eventName</td>
            <td>@event.participants.size</td>
            <td>
                <form  method="POST" name="joinEvent" action="@routes.EventController.eventStage1(event.eventId)">
                    <input type="submit" name="Join" value= "View Details" class="btn btn-success">
                </form>
        </tr>
        }
    </table>
</div>
</div>
}