@(user: User, event: Event)

@mainStudent(user) {
<div id="wrapper">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@event.eventName</h3>
                </div>
                <div class="panel-body">
                    <ol class="nav">
                        <li><font color="blue">Sample HashTags:</font>
                            <ul>
                                <li><font color="DodgerBlue">#Concept</font></li>
                                <li><font color="DodgerBlue">#Justification</font></li>
                                <li><font color="DodgerBlue">#Example</font></li>
                            </ul>
                        </li>
                        <br>
                        <li><font color="blue">Event Members:</font>
                            <ul>
                                <li><font color="DodgerBlue">Anil</font></li>
                                <li><font color="DodgerBlue">Denny</font></li>
                                <li><font color="DodgerBlue">Dhanyatha</font></li>
                                <li><font color="DodgerBlue">Shruthi</font></li>
                                <li><font color="DodgerBlue">Supriya</font></li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <div class="text-left">
                                <a href="#">Event Script<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </li>
                    </ol>
                </div>
                <!--/.well -->
            </div>
        </div>
    </div>
</div>

<h4> Event Results</h4>
}