@(user: User, event: Event, question: Question, form3: Form[util.EventUtils.EventStageform])
@import helper._

@mainStudent(user) {
<div id="wrapper">
    <div class="col-md-3">
        <div class="well sidebar-nav">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@event.eventName</h3>
                </div>
                <div class="panel-body">
                    <ol class="nav">
                        <li><font color="blue">Sample HashTags:</font>
                            <ul>
                                <li><font color="DodgerBlue">#Concept</font></li>
                                <li><font color="DodgerBlue">#Justification</font></li>
                                <li><font color="DodgerBlue">#Example</font></li>
                            </ul>
                        </li>
                        <br>
                        <li><font color="blue">Event Members:</font>
                            <ul>
                                <li><font color="DodgerBlue">Anil</font></li>
                                <li><font color="DodgerBlue">Denny</font></li>
                                <li><font color="DodgerBlue">Dhanyatha</font></li>
                                <li><font color="DodgerBlue">Shruthi</font></li>
                                <li><font color="DodgerBlue">Supriya</font></li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            <div class="text-left">
                                <a href="#">Event Script<i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </li>
                    </ol>
                </div>
                <!--/.well -->
            </div>
        </div>
    </div>


    <div class="col-md-9">

        <div class="progress progress-striped">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                Stage 3
                <span class="sr-only">bootstrap.min.css + bootstrap-theme.min.css (master branch</span>
            </div>
        </div>

        <div class="well">
            <ul class="answers">
                <p>@event.scriptPhase3</p>
            </ul>
        </div>

        <div class="well">
            <ul class="answers">
                @form(routes.EventController.eventStage4(event.eventId)){
                <p><b><br>@question.questionString<br> </b></p>
                <input type="radio" name="answer" value="Option1" id="q2a"><label for="q2a">  @question.Option1</label><br/>
                <input type="radio" name="answer" value="Option2" id="q2b"><label for="q2b">  @question.Option2</label><br/>
                <input type="radio" name="answer" value="Option3" id="q2c"><label for="q2c">  @question.Option3 </label><br/>
                <input type="radio" name="answer" value="Option4" id="q2d"><label for="q2d">  @question.Option4</label><br/>
                <input type="hidden" name="eventId" value=@event.eventId />
                <input type="hidden" name="userId" value="@user.id">
                <b>Justify your answer here:</b>
                <input type="text" name="justification" value=""/>
                <br>
                <input type="submit" name="Join" value= "Submit" class="btn btn-success"/>
                }
            </ul>
        </div>
    </div>
</div>
}



