@(user: User, event: Event,hashTags: List[String], question: Question, participants: List[User],form3: Form[util.EventUtils.EventStageform])
@import helper._

@mainStudent(user) {
<div id="wrapper">
    @eventSidePane(event,hashTags)
</div>

<div class="col-md-9">
    <div class="progress progress-striped">
        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%" style="width: 80%">
            Stage 4
            <span class="sr-only">bootstrap.min.css + bootstrap-theme.min.css (master branch</span>
        </div>
    </div>
    <div class="well">
        <ul class="answers">
            <p>@event.scriptPhase4</p>
        </ul>
    </div>
    <div class="well">
        @form(routes.EventController.eventResult()){
            <div class="well">
                    <p><b>@question.questionString<br> </b></p>
                    <input type="radio" name="answer" value="Option1" id="q2a"><label for="q2a">  @question.Option1</label><br/>
                    <input type="radio" name="answer" value="Option2" id="q2b"><label for="q2b">  @question.Option2</label><br/>
                    <input type="radio" name="answer" value="Option3" id="q2c"><label for="q2c">  @question.Option3 </label><br/>
                    <input type="radio" name="answer" value="Option4" id="q2d"><label for="q2d">  @question.Option4</label><br/>
                    <input type="hidden" name="eventId" value=@event.eventId />
                    <input type="hidden" name="userId" value=@user.id />
            </div>
            <div class="well">
                    <p><b> Who helped me: <br> </b></p>
                    @for((participantUser,index) <- participants.zipWithIndex){
                        @if( user.id != participantUser.id){
                            <input type="checkbox" name="upVotedPeers[@index]" value = @participantUser.id> @participantUser.fullname <br>
                        }
                    }
                    <div class="pull-right">
                        <input type="submit" name="Submit" value= "Submit" class="btn btn-success">
                    </div>
            </div>
        }
</div>
</div>
}
