@(user: User, event: Event,hashTags: List[String],question: Question, form1: Form[util.EventUtils.EventStageform])
@import helper._
@mainStudent(user){
<div id="wrapper">

    @eventSidePane(event,hashTags)

    <div class="col-md-9">

        <div class="progress progress-striped">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%" style="width: 60%;">
                Stage 3
                <span class="sr-only">bootstrap.min.css + bootstrap-theme.min.css (master branch</span>
            </div>
        </div>

        <div class="well">
            <ul class="answers">
                <p>@event.scriptPhase3</p>
            </ul>
        </div>

        <div class="well">
            <ul class="answers">
                @form(routes.EventController.eventStage4(event.eventId)){
                <div class="well">
                <div class="well">
                <p><b>@question.questionString<br> </b></p>
                <input type="radio" name="answer" value="Option1" id="q2a"><label for="q2a">  @question.Option1</label><br/>
                <input type="radio" name="answer" value="Option2" id="q2b"><label for="q2b">  @question.Option2</label><br/>
                <input type="radio" name="answer" value="Option3" id="q2c"><label for="q2c">  @question.Option3 </label><br/>
                <input type="radio" name="answer" value="Option4" id="q2d"><label for="q2d">  @question.Option4</label><br/>
                <input type="hidden" name="eventId" value=@event.eventId />
                <input type="hidden" name="userId" value="@user.id">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><b>Justify your answer:</b></span>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <br>

                    <div class="pull-right">
                    <input type="submit" name="Join" value= "Head to Stage 4" class="btn btn-success"/>
                    </div>
                 </div>
                }
            </ul>
        </div>
    </div>

</div>
<script>

    console.log("@event.phase3Duration" * 60000);
    var phaseComplete = function() {
        console.log("hello inside function")
        $('input[name=Join]').click()
    }
    setTimeout(phaseComplete,"@event.phase3Duration" * 60000);
</script>
}



