@(user: User, messages: List[String], userwisemessages: List[String])
@mainStudent(user) {
<div id="wrapper">
    <div class="col-md-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#createEvent" role="tab" data-toggle="tab" onclick="">Hashtag</a></li>
            <li role="presentation"><a href="#deleteEvent" role="delete" data-toggle="tab">Userwise</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="createEvent">

                <div id="accordion1"></div>
            </div>

            <div role="tabpanel" class="tab-pane" id="deleteEvent">
                <div id="accordion2"></div>
            </div>
        </div>
    </div>
</div>
<script>
    var messages = [];
    var userwisemessages = [];
    @for(umsg <- userwisemessages){
        userwisemessages.push('@umsg');
    }
    @for(msg <- messages){
        messages.push('@msg');
    }
    var hashtagMap = {};
    for(i=0;i<messages.length;i++){
        var hashtag = messages[i].match(/(^|\s)(#[a-z\d-]+)/ig)[0].substr(1);
        var text = messages[i].substr(messages[i].indexOf(' ')+1);
        if(text == undefined)
            text = "None";
        if(hashtag in hashtagMap){
            temp = hashtagMap[hashtag];
            temp.push(text);
            hashtagMap[hashtag] = temp;
        }else{
            temp = [];
            temp.push(text);
            hashtagMap[hashtag] = temp;
        }
    }
    console.log(hashtagMap);
    for (var m in hashtagMap){
        $('#accordion1').append('<h3>'+m+'</h3>');
        var hdiv = '<div id='+m+'></div>';
        var hul = '<ul id=u'+m+'></ul>';
        $('#accordion1').append(hdiv);
        $('#'+m).append(hul);
        temp = hashtagMap[m];
        for(var j=0;j<temp.length;j++){
            var tdiv = '<li>'+temp[j]+'</li>';
            $('#u'+m).append(tdiv);
        }
    }

    $( "#accordion1" ).accordion(
    {
    collapsible: true,
    heightStyle: "content"
    });

    var userMap = {};
    for(i=0;i<userwisemessages.length;i++)
    {
        var user = userwisemessages[i].substr(0,userwisemessages[i].indexOf('-'));
        var text = userwisemessages[i].substr(userwisemessages[i].indexOf('-')+1);
        if(text == undefined)
            text = "None";
        if(user in userMap){
            temp = userMap[user];
            temp.push(text);
            userMap[user] = temp;
        }else{
            temp = [];
            temp.push(text);
            userMap[user] = temp;
        }
    }
    console.log(userMap);
    for (var m in userMap){
        $('#accordion2').append('<h3>'+m+'</h3>');
        var mid = m.substr(0,m.indexOf(' '));
        var hdiv = '<div id='+mid+'></div>';
        var hul = '<ul id=u'+mid+'></ul>';
        $('#accordion2').append(hdiv);
        $('#'+mid).append(hul);
        temp = userMap[m];
        console.log(temp);
        for(var j=0;j<temp.length;j++){
            var tdiv = '<li>'+temp[j]+'</li>';
            $('#u'+mid).append(tdiv);
        }
    }

    $( "#accordion2" ).accordion(
    {
    collapsible: true,
    heightStyle: "content"
    });



</script>

}