@(user: User)

@mainInstructor(user) {
<style>
    .pinned-group{
        margin-top: 2px;
        padding-top: 0px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    .input-group {
        padding-top: 20px;
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .pinnedpost {
        margin-top: 20px;
        list-style: none;
        bottom: 0px;
        height: 300px;
        overflow-y: scroll;
        padding: 0 0 50px 0;
    }
    .pinned .panel-body {
        padding: 10px;
    }

    .pinned .panel-heading {
        padding: 5px 10px;
    }
    .pinned .list-group-item {
        padding: 5px 10px;
    }
    .chart rect {
        fill: steelblue;
        stroke: white;
    }
    .chart rect {
        fill: steelblue;
        stroke: white;
    }
    .axis path, .axis line
    {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
    }

    .axis text
    {
        font-family: 'Arial';
        font-size: 13px;
    }
    .tick
    {
        stroke-dasharray: 1, 2;
    }
    .bar
    {
        fill: FireBrick;
    }
    .nav nav-tabs
    {
        width: 500;
    }

    .take-all-space-you-can{
        width:100%;
    }

    .messages{
        width: 600px;
    }

    .talk{
        width: 600px;
    }

    </style>
<div class="col-md-9">
    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation"><a href="#home" role="tab" data-toggle="tab">Feeds</a></li>
        <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Feed graphs</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <section class="pinned-group"></section>
            <div class="pinnedpost row" id="id1">
            </div>
                <div class="span5" id="main">
                    <div class="input-group">
                        <input id="talk" type="text" class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle event-id" data-toggle="dropdown" aria-expanded="false">Select Event<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right event-items" role="menu">
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="row" id="id1">
                <svg id="visualisation1" width="500" height="300"></svg>
            </div>
        </div>
        <!--<!--<div role="tabpanel" class="tab-pane" id="messages"><svg id="visualisation1" width="500" height="300"></svg></div>-->
        <!--<div role="tabpanel" class="tab-pane" id="messages"><div class="row" id="id2"></div></div>-->

    </div>
 </div>
<script src="@routes.Assets.at("javascripts/d3.v3.js")" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="@routes.Chat.instructorJs(user.email)"></script>


}